@import './styles/variables.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: var(--font-weight-normal);
  
  color-scheme: dark;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

#root {
  width: 100%;
  min-height: 100vh;
}
